<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.UserMapper">

	<select id="findByKakaoId" parameterType="string"
		resultType="net.skhu.dto.UserDto">
		SELECT * FROM user WHERE kakao_id = #{kakaoId}
	</select>

	<insert id="insert" parameterType="net.skhu.dto.UserDto">
		INSERT INTO user (kakao_id, nickname, profile_image_url)
		VALUES (#{kakaoId}, #{nickname}, #{profileImageUrl})
	</insert>

    <update id="update" parameterType="net.skhu.dto.UserDto">
        UPDATE user
        SET 
            nickname = #{nickname},
            profile_image_url = #{profileImageUrl}
        WHERE kakao_id = #{kakaoId}
    </update>

</mapper>
